name: CMake x86_64 Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential git \
            gcc g++ libcurl4-openssl-dev libncurses-dev libarchive-dev zip

      - name: Build and install FTXUI
        run: |
          git clone --branch main https://github.com/ArthurSonzogni/FTXUI.git /tmp/ftxui
          mkdir -p /tmp/ftxui/build
          cd /tmp/ftxui/build
          cmake -DCMAKE_BUILD_TYPE=Release -DFTXUI_BUILD_SHARED=ON ..
          cmake --build . --config Release
          sudo cmake --install .

      - name: Configure and build Chrootux
        run: |
          mkdir -p build/x86_64
          cd build/x86_64
          cmake -DCMAKE_BUILD_TYPE=Release -S ../../ -B .
          cmake --build . --config Release

      - name: Verify binary existence
        run: |
          if [ ! -f build/x86_64/Chrootux ]; then
            echo "Error: Binary Chrootux not found!"
            exit 1
          fi

      - name: Fix binary permissions
        run: chmod +x build/x86_64/Chrootux

      - name: Compress binary
        run: |
          zip -j Chrootux-x86_64.zip build/x86_64/Chrootux

      - name: Upload binary as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Chrootux-x86_64
          path: Chrootux-x86_64.zip
